<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.libraryManagement.mapper.CommentsMapper">

    <resultMap type="com.design.libraryManagement.pojo.Comments" id="CommentsMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="bookId" column="book_id" jdbcType="INTEGER"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="comments" column="comments" jdbcType="VARCHAR"/>
        <result property="images" column="images" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CommentsMap">
        select
          id, book_id, created_by, created_at, comments, images
        from comments
        where id = #{id}
    </select>

    

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into comments(book_id, created_by, created_at, comments, images)
        values (#{bookId}, #{createdBy}, now(), #{comments}, #{images})
    </insert>

    <!--用select进行分页查询-->
    <select id="getPageListByCondition" resultMap="CommentsMap">

        select *  from comments
        <!--排序 desc是降序-->
        order by
        created_at desc
        <!--分页查询-->

        limit  #{page.startNum} , #{page.pageSize}
    </select>
    <!--分页查询条数-->
    <select id="getPageListCount" resultType="int">
        select count(id) as count from comments
    </select>
    <!--通过主键修改数据-->
    <update id="update">
        update comments
        <set>
            <if test="bookId != null">
                book_id = #{bookId},
            </if>
            <if test="createdBy != null and createdBy != ''">
                created_by = #{createdBy},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
            <if test="comments != null and comments != ''">
                comments = #{comments},
            </if>
            <if test="images != null and images != ''">
                images = #{images},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from comments where id = #{id}
    </delete>
    <!--根据书id获取这本书所有的留言-->
    <select id="getByBookId" resultMap="CommentsMap">
        select * from comments where book_id=#{bookId};
    </select>
</mapper>
